<section class="services section" id="services">
	<h3 class="section__subtitle">My <span>Services</span></h3>
	<h2 class="section__title">What I Do</h2>
	<div class="services__container container grid" data-aos="fade-up" data-aos-duration="800">
		<article class="services__card">
			<i class="ri-layout-3-line services__icon"></i>
			<h2 class="services__title">Web Developer</h2>
			<p class="services__description">
				Development of custom web pages. Using current technologies and libraries of the labor field.
			</p>
		</article>
		<article class="services__card">
			<i class="ri-pantone-line services__icon"></i>
			<h2 class="services__title">UI/UX Designer</h2>
			<p class="services__description">
				I offer design of web interfaces and mobile applications, design made in figma, adobe xd and sketch.
			</p>
		</article>
		<article class="services__card">
			<i class="ri-pen-nib-line services__icon"></i>
			<h2 class="services__title">Graphic Design</h2>
			<p class="services__description">
				I make designs at the client's request, banner design, posters, digital designs among others.
			</p>
		</article>
	</div>
</section>
