<section class="section experience" id="experience">
	<h3 class="section__subtitle">My <span>experience</span></h3>
	<h2 class="section__title">Experince</h2>
	<div class="experience__container container grid">
		<ul class="experience__ul grid">
			<li class="experience__li grid">
				<div class="experience__data">
					<span class="experience__head">Ebiz Latin America | 2023 - present </span>
					<h3 class="section__subtitle">Developer Frontend - Angular</h3>
					<p class="experience__description">
						<span
							>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum dolorem eos facere illum modi optio
							perspiciatis quaerat quas repudiandae sed, vitae voluptas. Aperiam dolores eius inventore, quisquam
							repudiandae similique.</span
						>
					</p>
					<div class="experience__skills">
						<img src="assets/images/svg/angular.svg" alt="angular" class="svg-icon" />
						<img src="assets/images/svg/angular-material.svg" alt="angular-material" class="svg-icon" />
						<img src="assets/images/svg/bootstrap.svg" alt="bootstrap" class="svg-icon" />
						<img src="assets/images/svg/node-js.svg" alt="nodejs" class="svg-icon" />
						<img src="assets/images/svg/npm.svg" alt="npm" class="svg-icon" />
						<img src="assets/images/svg/javascript.svg" alt="javascript" class="svg-icon" />
						<img src="assets/images/svg/typescript.svg" alt="typescript" class="svg-icon" />
						<img src="assets/images/svg/rxjs.svg" alt="rxjs" class="svg-icon" />
						<img src="assets/images/svg/css.svg" alt="css" class="svg-icon" />
						<img src="assets/images/svg/sass.svg" alt="sass" class="svg-icon" />
						<img src="assets/images/svg/docker.svg" alt="docker" class="svg-icon" />
						<img src="assets/images/svg/kubernetes.svg" alt="kubernetes" class="svg-icon" />
						<img src="assets/images/svg/bitbucket.svg" alt="bitbucket" class="svg-icon" />
						<img src="assets/images/svg/postgresql.svg" alt="postgresql" class="svg-icon" />
						<img src="assets/images/svg/mongo.svg" alt="mongo" class="svg-icon" />
						<img src="assets/images/svg/springboot.svg" alt="springboot" class="svg-icon" />
						<img src="assets/images/svg/java.svg" alt="java" class="svg-icon" />
					</div>
					<div class="experience__time"><i class="ri-calendar-2-line"></i></div>
				</div>
			</li>
			<li class="experience__li grid">
				<div class="experience__data">
					<span class="experience__head"> Pares&Alvarez | 2022 - 2023 </span>
					<h3 class="section__subtitle">Software Developer</h3>
					<p class="experience__description">
						<span
							>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum dolorem eos facere illumm odi optio
							perspiciatis quaerat quas repudiandae sed, vitae voluptas. Aperiam dolores eius inventore, quisquam
							repudiandae similique.</span
						>
					</p>
					<div class="experience__skills">
						<img src="assets/images/svg/angular.svg" alt="angular" class="svg-icon" />
						<img src="assets/images/svg/bootstrap.svg" alt="bootstrap" class="svg-icon" />
						<img src="assets/images/svg/node-js.svg" alt="nodejs" class="svg-icon" />
						<img src="assets/images/svg/npm.svg" alt="npm" class="svg-icon" />
						<img src="assets/images/svg/javascript.svg" alt="javascript" class="svg-icon" />
						<img src="assets/images/svg/typescript.svg" alt="typescript" class="svg-icon" />
						<img src="assets/images/svg/rxjs.svg" alt="rxjs" class="svg-icon" />
						<img src="assets/images/svg/ngrx.svg" alt="ngrx" class="svg-icon" />
						<img src="assets/images/svg/css.svg" alt="css" class="svg-icon" />
						<img src="assets/images/svg/sass.svg" alt="sass" class="svg-icon" />
						<img src="assets/images/svg/docker.svg" alt="docker" class="svg-icon" />
						<img src="assets/images/svg/gitlab.svg" alt="gitlab" class="svg-icon" />
						<img src="assets/images/svg/jenkins.svg" alt="jenkins" class="svg-icon" />
						<img src="assets/images/svg/postgresql.svg" alt="postgresql" class="svg-icon" />
						<img src="assets/images/svg/springboot.svg" alt="springboot" class="svg-icon" />
						<img src="assets/images/svg/java.svg" alt="java" class="svg-icon" />
						<img src="assets/images/svg/php.svg" alt="php" class="svg-icon" />
						<img src="assets/images/svg/linux.svg" alt="linux" class="svg-icon" />
					</div>
					<div class="experience__time"><i class="ri-calendar-2-line"></i></div>
				</div>
			</li>
			<li class="experience__li grid">
				<div class="experience__data">
					<span class="experience__head">Data Science Research Perú | 2021 - 2022</span>
					<h3 class="section__subtitle">Developer Frontend - Angular</h3>
					<p class="experience__description">
						<span
							>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum dolorem eos facere illum modi optio
							perspiciatis quaerat quas repudiandae sed, vitae voluptas. Aperiam dolores eius inventore, quisquam
							repudiandae similique.</span
						>
					</p>
					<div class="experience__skills">
						<img src="assets/images/svg/angular.svg" alt="angular" class="svg-icon" />
						<img src="assets/images/svg/bootstrap.svg" alt="bootstrap" class="svg-icon" />
						<img src="assets/images/svg/angular-material.svg" alt="angular-material" class="svg-icon" />
						<img src="assets/images/svg/node-js.svg" alt="nodejs" class="svg-icon" />
						<img src="assets/images/svg/npm.svg" alt="npm" class="svg-icon" />
						<img src="assets/images/svg/javascript.svg" alt="javascript" class="svg-icon" />
						<img src="assets/images/svg/typescript.svg" alt="typescript" class="svg-icon" />
						<img src="assets/images/svg/rxjs.svg" alt="rxjs" class="svg-icon" />
						<img src="assets/images/svg/css.svg" alt="css" class="svg-icon" />
						<img src="assets/images/svg/sass.svg" alt="sass" class="svg-icon" />
						<img src="assets/images/svg/gitlab.svg" alt="gitlab" class="svg-icon" />
						<img src="assets/images/svg/graphql.svg" alt="graphql" class="svg-icon" />
						<img src="assets/images/svg/apollo-graphql.svg" alt="apollo-graphql" class="svg-icon" />
					</div>
					<div class="experience__time"><i class="ri-calendar-2-line"></i></div>
				</div>
			</li>
		</ul>
	</div>
</section>
