<section class="projects section" id="projects">
	<h3 class="section__subtitle">My <span>Jobs</span></h3>
	<h2 class="section__title">Recent Projects</h2>
	<div class="projects__container container grid">
		<article class="projects__card" *ngFor="let card of cards">
			<img [src]="card.img" alt="projects image" class="projects__img" />
			<div class="projects__modal">
				<span class="projects__subtitle">{{ card.subTitle }}</span>
				<h2 class="projects__title">{{ card.title }}</h2>
				<a href="#" class="projects__button"> View Demo <i class="ri-external-link-line"></i> </a>
			</div>
		</article>
	</div>
</section>
