<section gacObserver class="skills section">
	<div class="skills__container container grid">
		<div class="skills__data">
			<h3 class="section__subtitle">Favorite <span>Skills</span></h3>
			<h2 class="section__title">My Skills</h2>
			<p class="skills__description">See fully what skills I have and perform, to develop the projects for you.</p>
			<a href="#projects" class="button">See Projects</a>
		</div>
		<div class="skills__content">
			<ol class="skills__group">
				<li class="skills__item">HTML & CSS</li>
				<li class="skills__item">JavaScript</li>
				<li class="skills__item">Bootstrap</li>
				<li class="skills__item">Angular</li>
				<li class="skills__item">React</li>
			</ol>
			<ol class="skills__group" start="5">
				<li class="skills__item">Git & GitHub <i class="ri-sketching"></i></li>
				<li class="skills__item">Nodejs</li>
				<li class="skills__item">Java</li>
			</ol>
		</div>
	</div>
</section>
