<section class="contact section" id="contact">
	<h3 class="section__subtitle">Get In <span>Touch</span></h3>
	<h2 class="section__title">Contact Me</h2>
	<div class="contact__container container grid">
		<form [formGroup]="form" class="contact__form" autocomplete="off" id="contact-form" (ngSubmit)="onSubmit()">
			<div class="contact__group">
				<input
					formControlName="name"
					type="text"
					name="user-name"
					placeholder="Enter your name"
					class="contact__input"
				/>
				<input
					formControlName="email"
					type="email"
					name="user-email"
					placeholder="Enter your email"
					class="contact__input"
				/>
			</div>
			<textarea
				formControlName="text"
				name="user-project"
				placeholder="Enter your message"
				class="contact__textarea"
			></textarea>
			<p class="contact__message" id="contact-message">Message</p>
			<button type="submit" class="button contact__button">Send Message</button>
		</form>
	</div>
</section>
