.contact {
	&__container {
		padding-top: 1rem;
		@media screen and (min-width: 576px) {
			grid-template-columns: 360px;
			justify-content: center;
		}
		@media screen and (min-width: 1152px) {
			grid-template-columns: 680px;
			padding-block: 2.5rem 2rem;
		}
	}
	&__form,
	&__group {
		display: grid;
		row-gap: 1rem;
	}
	&__form {
		position: relative;
		@media screen and (min-width: 1152px) {
			row-gap: 1.5rem;
		}
	}
	&__group {
		@media screen and (min-width: 1152px) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 1.5rem;
		}
	}
	&__input,
	&__textarea {
		padding: 1rem 1.25rem;
		border-radius: 0.5rem;
		background-color: var(--container-color);
		color: var(--title-color);
		border: 1px solid var(--first-color);
		&::placeholder {
			color: var(--text-color);
		}
	}
	&__input {
		@media screen and (min-width: 1152px) {
			padding: 1.5rem;
		}
	}
	&__textarea {
		height: 11rem;
		resize: none;
		margin-bottom: 2rem;
		@media screen and (min-width: 1152px) {
			height: 20rem;
		}
	}
	&__button {
		justify-self: center;
		cursor: pointer;
	}
	&__message {
		position: absolute;
		left: 0;
		bottom: 4.5rem;
		font-size: var(--small-font-size);
		color: var(--title-color);
	}
}
