.home {
	background-color: var(--container-color);
	overflow: hidden;
	&__container {
		@media screen and (min-width: 576px) {
			grid-template-columns: 360px;
			justify-content: center;
		}
		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
		@media screen and (min-width: 1152px) {
			grid-template-columns: 455px 550px;
			column-gap: 7rem;
			padding-block: 2rem 3rem;
		}
	}
	&__content {
		display: grid;
		row-gap: 2rem;
		@media screen and (min-width: 1152px) {
			row-gap: 4.5rem;
		}
	}
	&__data {
		text-align: center;
		@media screen and (min-width: 768px) {
			text-align: initial;
		}
	}
	&__subtitle,
	&__education {
		font-size: var(--bigger-font-size);
	}
	&__subtitle span,
	&__title {
		color: var(--first-color);
	}
	&__title {
		font-size: var(--biggest-font-size);
		font-weight: var(--font-semi-bold);
	}
	&__description {
		margin-block: 1rem 1.5rem;
		@media screen and (min-width: 1152px) {
			margin-block: 1.5rem 2.5rem;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		column-gap: 1.25rem;
		@media screen and (min-width: 768px) {
			justify-content: start;
		}
		@media screen and (min-width: 1152px) {
			column-gap: 1.5rem;
		}
	}
	&__social-link {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--first-color-alt);
		padding: 0.65rem;
		color: var(--title-color);
		font-size: 1.5rem;
		position: relative;
		z-index: 1;
		//clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(51% 4%, 90% 20%, 100% 60%, 76% 92%, 25% 91%, 0% 60%, 10% 20%);
		transition: transform 0.4s;

		&:hover {
			transform: translateY(-0.25rem);
		}
	}
	&__image {
		justify-self: center;
	}
	&__blob {
		position: relative;
		z-index: 1;
		width: 320px;
		fill: var(--first-color);
		filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%));
		@media screen and (min-width: 768px) {
			width: 400px;
		}
	}
	&__img {
		width: 900px;
		transform: translateX(-120px);
	}
}
