<!--==================== MAIN ====================-->
<main class="main">
	<!--==================== HOME ====================-->
	<gac-home />
	<!--==================== ABOUT ====================-->
	<gac-about />
	<!--==================== SKILLS ====================-->
	<gac-skills />
	<!--==================== SERVICES ====================-->
	<gac-services />
	<!--==================== PROJECTS ====================-->
	<gac-projects />
	<!--==================== CONTACT ====================-->
	<gac-contact />
</main>
<!--==================== FOOTER ====================-->
<gac-footer />
