<footer class="footer">
	<div class="footer__container container grid">
		<div>
			<h1 class="footer__title">Gustavo <span>Caqui</span></h1>
			<h2 class="footer__subtitle">FullStack Developer</h2>
		</div>
		<div class="footer__social">
			<a href="#" target="_blank" class="footer__social-link">
				<i class="ri-facebook-circle-line"></i>
			</a>
			<a href="#" target="_blank" class="footer__social-link">
				<i class="ri-linkedin-line"></i>
			</a>
			<a href="#" target="_blank" class="footer__social-link">
				<i class="ri-github-line"></i>
			</a>
		</div>
		<span class="footer__copy"> &#169; Copyright GACC. All rights reserved </span>
	</div>
</footer>
