/*=============== REUSABLE CSS CLASSES ===============*/
.container {
	max-width: 1120px;
	margin-inline: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.section {
	padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
	text-align: center;
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

.section__title {
	font-size: var(--h1-font-size);
	margin-bottom: 1.5rem;
}

.section__subtitle {
	font-size: var(--small-font-size);
	margin-bottom: 0.25rem;
}

.section__subtitle span {
	color: var(--first-color);
}

.main {
	overflow: hidden; /* For animation ScrollReveal */
}

.button {
	display: inline-block;
	background-color: var(--first-color);
	padding: 1rem 1.75rem;
	border-radius: 0.5rem;
	//color: var(--title-color);
	color: var(--container-color);
	&:hover {
		box-shadow: 0 8px 24px hsla(var(--hue), 100% 40% 0.25);
	}
}
/*Active Link*/
.active-link {
	color: var(--first-color) !important;
}

@media screen and (min-width: 1023px) {
	.section {
		padding-block: 7rem 2rem;
	}
	.section__subtitle {
		font-size: var(--normal-font-size);
	}
}

@media screen and (min-width: 1152px) {
	.container {
		margin-inline: auto;
	}
}
